:root {
  --backgraund-first-color: #2f303a;
  --background-second-color: #f5f4fa;
  --white-color: #ffffff;
  --fist-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--fist-text-color);
  background: var(--white-color);
}
.logo-accent {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*----HEADER---- */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.nav-link.current {
  color: #2196f3;
}

/* футер rgba(255, 255, 255, 0.6); */
